.wrapper-content {
	background-color: #ffffff
}

.post_list_content_unit .post-list-content .post_list_meta_unit .sticky_post:after {
	border-color: transparent transparent #ffffff transparent;
}

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size:   14px;
	font-weight: 400;
	line-height: 24px;
	color:       #555;
}

a {
	color: #555;
}

a:hover {
	color: #ffb300;
}

h1, h2, h3, h4, h5, h5, h6, .header_main_menu_wrapper .header-menu li {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	color:       #333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h5 a, h6 a {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color:       #333;
}

h1 {
	font-size:   28px;
	font-weight: normal;
}

h2 {
	font-size:   24px;
	font-weight: normal;
}

h3, .wrapper-blog-content .entry-content .entry-title {
	font-size:   22px;
	font-weight: normal;
}

h4 {
	font-size:   20px;
	font-weight: normal;
}

h5 {
	font-size:   18px;
	font-weight: normal;
}

h6 {
	font-size:   16px;
	font-weight: normal;
}

.custom-content .btn-default:hover {
	color:        #ffb300;
	border-color: #ffb300;
}

.wrapper-footer {
	background: #414b4f;
	color:      #ccc;
}

.wrapper-footer a {
	color: #fff;
}

.wrapper-footer a:hover {
	color: #ffb300;
}

.wrapper-footer .contact-info a {
	color: #ccc;
}

.wrapper-footer .contact-info a:hover {
	color: #ffb300;
}

.wrapper-footer .main-top-footer {
	font-size:     13px;
	border-bottom: 1px solid #5b6366;
}

.wrapper-footer .main-top-footer .widget-title {
	color:     #fff;
	font-size: 18px;
}

.widget-area aside .widget-title:before {
	background: #ffb300;
}

.list-arrow li {
	margin-bottom: 0;
}

.list-arrow li a {
	border-bottom: 1px solid #5b6366;
}

.list-arrow li a:after {
	color: #ffb300;
}

.subscribe_shadow {
	background: rgba(0, 0, 0, 0.5);
}

.images_single_left .tour_after_title .meta_values:before, .images_single_left .tour_after_title .meta_date:before {
	color: #ffb300;
}

.interary-item .icon-left {
	border:     2px dashed #26bdf7;
	color:      #fff;
	background: #26bdf7;
}

.interary-item:hover .icon-left {
	background: transparent;
	color:      #26bdf7;
}

.interary-item .item_content h2, .interary-item .item_content h3 {
	font-size: 22px;
}

.single-woo-tour .description_single .entry-content-tour p.price {
	background-color: #ffb300;
}

.single-woo-tour .description_single #tourBookingForm input[type="text"]:focus {
	border-color: #ffb300;
}

.navigation-menu {
	background: #fff;
}

.search-toggler-unit .search-toggler {
	border: 3px solid #ffb300;
	color:  #ffb300;
}

.search-toggler-unit .search-toggler:before {
	background-color: #ffb300;
}

.header_top_bar {
	background-color: #414b4f;
	color:            #ccc;
}

.header_top_bar a {
	color: #ccc;
}

.header_top_bar a:hover {
	color: #fff;
}

.header_top_bar .language-switcher-unit .stm_current_language.dropdown_toggle .fa-flag {
	color: #fff;
}

.header_top_bar .qtranxs_widget select {
	color: #ccc;
}

.header_top_bar .qtranxs_widget select:hover {
	color: #fff;
}

.transparent_home_page .affix-top .navbar-nav > li > a {
	color: #fff;
}

.transparent_home_page .sticky_header.affix .navigation-menu {
	background: #fff;
}

.post_images span.price {
	background: #ffb300;
}

.post_images .onsale {
	background: #26bdf7;
}

.post_title h4 a:hover {
	color: #26bdf7;
}

.read_more_button, .travel_tour ul.products li.product .read_more .add_to_cart_button {
	background: #26bdf7;
}

.read_more_button:hover, .travel_tour ul.products li.product .read_more .add_to_cart_button:hover {
	background: #ffb300;
}

.item_rating i {
	color: #ffb300;
}

.site-content .entry-content {
	background: #26bdf7;
}

.tours-tabs .nav-tours-tabs {
	border-bottom: 3px solid #26bdf7;
}

.tours-tabs .nav-tours-tabs li.active a {
	background: #26bdf7;
	color:      #fff;
}

.tours-tabs .nav-tours-tabs {
	border-bottom: 3px solid #26bdf7;
}

.tours-tabs .nav-tours-tabs li.active a {
	background: #26bdf7;
}

.tours-tabs .tab-content {
	border: 3px solid #26bdf7;
}

.navigation ul li .page-numbers {
	color: #555;
}

.navigation ul li .page-numbers:hover, .navigation ul li .page-numbers.current {
	border-color: #26bdf7;
	color:        #26bdf7;
}

.widget-icon-box .boxes-icon {
	box-shadow: 0 0 0 3px #26bdf7;
}

.widget-icon-box .boxes-icon:after {
	background: #26bdf7;
}

.tour-reviews-item .reviews-item-content .reviews-item-title a:hover {
	color: #26bdf7;
}

.post_list_content_unit .post-list-content .post_list_meta_unit .sticky_post {
	background-color: #ffb300;
}

.post_list_content_unit .post-list-content .post_list_meta_unit .border-meta-unit {
	border: 2px solid #ffb300;
}

.post_list_content_unit .post-list-content .post_list_meta_unit .border-meta-unit .post_list_comment_num {
	border-top: 2px solid #ffb300;
}

.post_list_content_unit .post-list-content .post_list_inner_content_unit .post_list_title a:hover {
	color: #26bdf7;
}

.post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .date-time:before, .post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .post_list_cats:before {
	color: #ffb300;
}

.post_list_content_unit .post-list-content .post_list_inner_content_unit .post_list_cats a:hover {
	color: #ffb300;
}

.hotel-booking-search form button {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

#tourBookingForm input[type="submit"] {
	background: #26bdf7;
	box-shadow: 0 2px 0 0 rgba(38, 189, 247, 0.6);
}

#tourBookingForm input[type="submit"]:hover {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

#payment input[type="submit"]:hover {
	background: #ffb300;
	color:      #fff;
}

.error {
	border-color: #26bdf7;
}

.error.placeholder {
	color: #26bdf7;
}

.error:-moz-placeholder {
	color: #26bdf7;
}

.error::-webkit-input-placeholder {
	color: #26bdf7;
}

.error:-ms-input-placeholder {
	color: #26bdf7;
}

.travel_tour ul.products li.product .item-product .wrapper_content .button, .travel_tour-page ul.products li.product .item-product .wrapper_content .button, .travel_tour ul.products li.product .item-product .wrapper_content button, .travel_tour-page ul.products li.product .item-product .wrapper_content button {
	background: #26bdf7;
	box-shadow: 0 2px 0 0 rgba(38, 189, 247, 0.6);
}

.travel_tour ul.products li.product .item-product .wrapper_content .button:hover, .travel_tour-page ul.products li.product .item-product .wrapper_content .button:hover, .travel_tour ul.products li.product .item-product .wrapper_content button:hover, .travel_tour-page ul.products li.product .item-product .wrapper_content button:hover {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.travel_tour ul.products .wc-backward, .travel_tour-page ul.products .wc-backward {
	background: #26bdf7;
	box-shadow: 0 2px 0 0 rgba(38, 189, 247, 0.6);
}

.travel_tour ul.products .wc-backward:hover, .travel_tour-page ul.products .wc-backward:hover {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.travel_tour span.onsale, .travel_tour-page span.onsale {
	background: #26bdf7;
}

.travel_tour div.product .single-tour-tabs ul.tabs, .travel_tour-page div.product .single-tour-tabs ul.tabs {
	border-bottom: 2px solid #ffb300;
}

.travel_tour div.product .single-tour-tabs ul.tabs li.active a, .travel_tour-page div.product .single-tour-tabs ul.tabs li.active a {
	background: #ffb300;
}

.travel_tour div.product .single-tour-tabs .entry-content, .travel_tour-page div.product .single-tour-tabs .entry-content {
	border: 2px solid #ffb300;
}

.travel_tour div.product p.stock, .travel_tour-page div.product p.stock {
	color: #26bdf7;
}

.travel_tour div.product form.cart .button, .travel_tour-page div.product form.cart .button, .travel_tour div.product form.cart button, .travel_tour-page div.product form.cart button {
	background: #26bdf7;
	box-shadow: 0 2px 0 0 rgba(38, 189, 247, 0.6);
}

.travel_tour div.product form.cart .button:hover, .travel_tour-page div.product form.cart .button:hover, .travel_tour div.product form.cart button:hover, .travel_tour-page div.product form.cart button:hover {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.travel_tour #review_form #respond .form-submit input, .travel_tour-page #review_form #respond .form-submit input {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.travel_tour #review_form #respond .form-submit input:hover, .travel_tour-page #review_form #respond .form-submit input:hover {
	color: #fff;
}

.travel_tour .return-to-shop .button:hover, .travel_tour-page .return-to-shop .button:hover, .travel_tour .actions .button:hover, .travel_tour-page .actions .button:hover, .travel_tour .calculated_shipping .button:hover, .travel_tour-page .calculated_shipping .button:hover, .travel_tour .wc-proceed-to-checkout .button:hover, .travel_tour-page .wc-proceed-to-checkout .button:hover, .travel_tour .return-to-shop .button.alt:hover, .travel_tour-page .return-to-shop .button.alt:hover, .travel_tour .actions .button.alt:hover, .travel_tour-page .actions .button.alt:hover, .travel_tour .calculated_shipping .button.alt:hover, .travel_tour-page .calculated_shipping .button.alt:hover, .travel_tour .wc-proceed-to-checkout .button.alt:hover, .travel_tour-page .wc-proceed-to-checkout .button.alt:hover {
	background: #ffb300;
	color:      #fff;
}

.travel_tour .related.tours h2:before, .travel_tour-page .related.tours h2:before {
	background: #ffb300;
}

.travel_tour-checkout .travel_tour-info-login-form .travel_tour-info a, .travel_tour-checkout .travel_tour-info-coupon-message .travel_tour-info a {
	color: #ffb300;
}

.travel_tour-checkout .travel_tour-info-login-form .checkout_coupon .button:hover, .travel_tour-checkout .travel_tour-info-coupon-message .checkout_coupon .button:hover {
	background: #ffb300;
	color:      #fff;
}

.travel_tour-ResetPassword .form-row input.button:hover {
	background: #ffb300;
	color:      #fff;
}

.related.products h2:before, .up-sells h2:before {
	background: #ffb300;
}

.post_date:before {
	color: #ffb300;
}

.item-list-tour .content-list-tour .wrapper_content .content-left .post_date:before {
	color: #ffb300;
}

.item-list-tour .content-list-tour .wrapper_content .content-right .price {
	color:     #555;
	font-size: 22px;
}

.item-list-tour .content-list-tour .wrapper_content .content-right .add_to_cart_button {
	background: #ffb300;
}

.item-list-tour .content-list-tour .wrapper_content .content-right .add_to_cart_button:hover {
	background: #26bdf7;
}

.tb_single_tour .tb_single_tour_details ul.tb_single_tour_tabs {
	border-bottom: 3px solid #26bdf7;
}

.tb_single_tour .tb_single_tour_details ul.tb_single_tour_tabs li a.active {
	background: #26bdf7;
}

.tb_single_tour .tb_single_tour_details .tb_single_tour_tabs_content {
	border: 3px solid #26bdf7;
}

.form-subscribe-form-wrap .mc4wp-form .mc4wp-submit-button, .form-subscribe-form-wrap .epm-sign-up-form .epm-sign-up-button {
	background: #ffb300;
}

.search-overlay .search-form .search-submit {
	background: #ffb300;
}

.section-yellow {
	background: #ffb300;
}

.owl-theme .owl-controls .owl-dot.active span, .owl-theme .owl-controls.clickable .owl-dot:hover span {
	background:   #ffb300;
	border-color: #ffb300;
}

.icon-btn {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.wpcf7-form .wpcf7-submit {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	background:  #ffb300;
	box-shadow:  0 2px 0 0 rgba(255, 179, 0, 0.6);
}

#respond input#submit {
	background: #ffb300;
	box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.counter-block .counter .number {
	background-color: #ffb300;
	box-shadow:       0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.stats_counter .stats_counter_number {
	color: #ffb300;
}

.hotel-booking-search form button, .form-subscribe-form-wrap .mc4wp-form .mc4wp-submit-button, .stats_counter .stats_counter_number, .stats_counter .stats_counter_title, .counter-block .counter, .header_main_menu_wrapper .header-menu li, .form-subscribe-form-wrap .epm-sign-up-form .epm-sign-up-button {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.tours_type_item .item__title, .counter-block .counter-caption, .tour-reviews-item .reviews-item-info .reviews-item-info-name, .icon-btn, .wpcf7-form .wpcf7-submit, #respond input#submit {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.shortcode_title.title-decoration-bottom-center .line_after_title {
	color: #ffb300;
}

.discounts-tour .discounts-title span {
	background-color: #ffb300;
}

.comments-area .comment-list-inner li .comment-extra-info a:hover, .comments-area .comment-list-inner li .comment-extra-info .comment-reply-link:hover {
	color: #ffb300;
}

.widget_login_form .form_popup {
	font-size: 14px;
}

.widget_login_form .form_popup .inner-form p input[type="submit"]:hover {
	background: #ffb300;
}

.widget_login_form .form_popup .inner-form .lost-pass:hover {
	color: #ffb300;
}

.travel_tour .login input[type="submit"]:hover, .travel_tour-page .login input[type="submit"]:hover, .travel_tour .register input[type="submit"]:hover, .travel_tour-page .register input[type="submit"]:hover, .travel_tour .edit-account input[type="submit"]:hover, .travel_tour-page .edit-account input[type="submit"]:hover {
	background: #ffb300;
}

.travel_tour .travel_tour-info .button:hover, .travel_tour-page .travel_tour-info .button:hover {
	background: #ffb300;
}

.widget-area .search_tour {
	background: #ffb300;
}

.widget-area .search_tour button {
	background: #26bdf7;
}

.widget-area .search_tour button:hover {
	background: rgba(38, 189, 247, 0.8);
}

.post-password-form input[type="Submit"]:hover {
	background: #ffb300;
}

.wrapper-special-tours .inner-special-tours .item_price .price {
	background: #26bdf7;
}
.sc-gallery .gallery_item-wrap .gallery-item {
	background: rgba(255, 179, 0, 0.9);
}

.sc-gallery .gallery-tabs-wrapper.filters li a.active {
	color: #ffb300;
}
@media (min-width: 993px) {
	.site-header .navbar-nav > li > ul.sub-menu {
		background-color: #fff;
	}

	.site-header .navbar-nav > li > ul.sub-menu > li a {
		color: #333;
	}

	.site-header .navbar-nav > li > ul.sub-menu > li a:hover {
		color: #ffb300;
	}

	.navbar-nav > li:after {
		border-color: transparent transparent #ffb300 transparent;
	}

	.navbar-nav > li:before {
		background: #ffb300;
	}

	.navbar-nav > li > a {
		font-size:   14px;
		color:       #333;
		font-weight: 600;
	}

	.navbar-nav > li.current-menu-item:after, .navbar-nav > li.current_page_parent:after, .navbar-nav > li.current-menu-ancestor:after {
		border-color: transparent transparent #ffb300 transparent;
	}

	.navbar-nav > li.current-menu-item:before, .navbar-nav > li.current_page_parent:before, .navbar-nav > li.current-menu-ancestor:before {
		background: #ffb300;
	}

	.navbar-nav > li.current-menu-item > a, .navbar-nav > li.current_page_parent > a, .navbar-nav > li.current-menu-ancestor > a {
		color: #ffb300;
	}

	.navbar-nav > li > ul.sub-menu {
		background-color: #fff;
		border-top:       3px solid #ffb300;
	}

	.navbar-nav > li > ul.sub-menu > li a {
		color: #333;
	}

	.navbar-nav > li > ul.sub-menu > li a:hover {
		color: #ffb300;
	}
}

@media (min-width: 768px) {
	.menu-right li a, .menu-right li span, .menu-right li div {
		color:       #333;
		font-size:   14px;
		font-weight: 600;
	}

	.menu-right li a:hover {
		color: #ffb300;
	}

	.width-logo {
		width: 190px;
	}

	.width-navigation {
		width: calc(100% - 195px);
		width: -webkit-calc(100% - 195px);
		width: -moz-calc(100% - 195px);
	}
}

@media (max-width: 993px) {
	.width-logo {
		width: 140px;
	}

	#mobile-demo li a, .icon-toggle {
		color: #fff;
	}

	#mobile-demo li.current-menu-item > a, #mobile-demo li.current-menu-item > span {
		color: #ffb300;
	}

	.menu-mobile-effect span {
		background-color: #333;
	}

	#mobile-demo {
		background: #232323;
	}

	#mobile-demo .navbar-nav > li > a, #mobile-demo .navbar-nav > li > span {
		color: #fff;
	}

}

@media (max-width: 767px) {
	.travel_tour div.product .single-tour-tabs .panel-group .panel-default .panel-title a:not(.collapsed), .travel_tour div.product .single-tour-tabs .panel-group .panel-default .panel-title a:hover {
		background: #ffb300;
		color:      #fff;
	}

	.travel_tour div.product .single-tour-tabs .panel-group .panel-collapse {
		border-color: #ffb300;
	}
}

.shortcode-tour-reviews {
	background: rgba(136, 136, 136, 0.8) url("../../images/bg-review.png");
}

.tour-reviews-item .reviews-item-content .reviews-item-title a, .tour-reviews-item {
	color: #fff;
}

.tours-type-slider .owl-controls .owl-dot span {
	border-color: rgba(255, 255, 255, 0.6);
}

.tours-type-slider .owl-controls .owl-dot.active span, .tours-type-slider .owl-controls.clickable .owl-dot:hover span {
	background:   #fff;
	border-color: #fff;
}

.tour-reviews-item .reviews-item-info .reviews-item-rating i {
	color: #333;
}